<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h3>Forgot Password</h3>
    <br><br>
    <form action="" method="post" id="forgotPasswordForm">
        <div class="form-group">
            <label for="">Enter your registered email</label>
            <input type="text" id="forgotEmail" name="email" placeholder="Email">
            <p class="text-danger" id="forgotEmailError"></p>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn text-white">OK </button>
        </div>
    </form>
    <script>
        alert("hello")
    </script>
    <script src="/frontEnd/javascripts/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/bootstrap.bundle.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/slick.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.syotimer.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/wow.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery-ui.js"></script>
    <script src="/frontEnd/javascripts/plugins/perfect-scrollbar.js"></script>
    <script src="/frontEnd/javascripts/plugins/magnific-popup.js"></script>
    <script src="/frontEnd/javascripts/plugins/select2.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/waypoints.js"></script>
    <script src="/frontEnd/javascripts/plugins/counterup.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.countdown.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/images-loaded.js"></script>
    <script src="/frontEnd/javascripts/plugins/isotope.js"></script>
    <script src="/frontEnd/javascripts/plugins/scrollup.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.vticker-min.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/frontEnd/javascripts/main.js?v=3.4"></script>
    <script src="/frontEnd/javascripts/valid.js"></script>
<script>
    
</script>
</body>
</html>
