<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Furnish Nest</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/frontEnd/images/banner/logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/frontEnd/stylesheets/main.css?v=3.4">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-5">
                                <div
                                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white" id="login-container">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Reset Password</h3>
                                        </div>
                                        <form action="/resetPassword" method="post" id="passwordReset">
                                            <div class="form-group">
                                                <input type="password" id="password" name="password"
                                                    placeholder="New Password">
                                                <p class="text-danger" id="passwordError1"></p>
                                                <p class="text-danger" id="passwordError2"></p>
                                                <p class="text-danger" id="passwordError3"></p>
                                                <p class="text-danger" id="passwordError4"></p>
                                                <p class="text-danger" id="passwordError5"></p>
                                                <p class="text-danger" id="passwordError6"></p>
                                            </div>
                                            <p class="text-danger" id="error-email"></p>
                                            <div class="form-group">
                                                <input type="password" id="confirmPassword"
                                                    onkeyup="confirmPasswordVal()" name="confirmPassword"
                                                    placeholder="confirm Password">
                                                <p class="text-danger" id="confirmPasswordError"></p>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn col-12">Reset Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Preloader Start -->
    <script>
        $(document).ready(function () {
            $('#passwordReset').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
                // Get the values from the form
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                // Regular expressions for email and password validation
                // Error messages
                var passwordError1 = '';
                var passwordError2 = ''
                var passwordError3 = '';
                var passwordError4 = ''
                var passwordError5 = '';
                var passwordError6 = ''
                var confirmPasswordError = '';
                // Validate password
                if (!/^(?=.*[A-Z]).*$/.test(password)) {
                    passwordError1 = 'Need atleast one Upper case character';
                }
                if (!/^(?=.*[a-z]).*$/.test(password)) {
                    passwordError2 = 'Need atleast one Lower case case character';
                }
                if (!/^((?=.*\d)).*$/.test(password)) {
                    passwordError3 = 'Need atleast one digit';
                }
                if (!/^(?=.*[@#$%^&+=!]).*$/.test(password)) {
                    passwordError4 = 'Need atleast one Special character';
                }
                if (!/^(?!.*\s).*$/.test(password)) {
                    passwordError5 = 'Should not contain space';
                }
                if (!/^.{8,}$/.test(password)) {
                    passwordError6 = 'Atleast 8 charcter long';
                }
                // Validate password
                // if (password.length <= 8) {
                //     passwordError = 'Password must contain at least 8 characters,';
                // }
                // Display error messages or submit the form
                if (passwordError1 || passwordError2 || passwordError3 || passwordError4
                    || passwordError5 || passwordError6) {
                    $('#passwordError1').text(passwordError1);
                    $('#passwordError2').text(passwordError2);
                    $('#passwordError3').text(passwordError3);
                    $('#passwordError4').text(passwordError4);
                    $('#passwordError5').text(passwordError5);
                    $('#passwordError6').text(passwordError6);
                } else {
                    // Form is valid, you can submit it here or redirect to another page
                    $('#passwordError1').text('');
                    $('#passwordError2').text('');
                    $('#passwordError3').text('');
                    $('#passwordError4').text('');
                    $('#passwordError5').text('');
                    $('#passwordError6').text('');
                    // Uncomment the following line to submit the form
                    $('#passwordReset').unbind('submit').submit();
                }
            });
        });
        function confirmPasswordVal() {
            var password = document.getElementById('password').value
            var confirmPassword = document.getElementById('confirmPassword').value
            var confirmPasswordError = document.getElementById('confirmPasswordError')
            if (password != confirmPassword) {
                confirmPasswordError.innerHTML = "Password not match"
                return false
            }
            else {
                confirmPasswordError.innerHTML = ""
                return true
            }
        }
    </script>
    <!-- Vendor JS-->
    <script src="/frontEnd/javascripts/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/frontEnd/javascripts/vendor/bootstrap.bundle.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/slick.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.syotimer.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/wow.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery-ui.js"></script>
    <script src="/frontEnd/javascripts/plugins/perfect-scrollbar.js"></script>
    <script src="/frontEnd/javascripts/plugins/magnific-popup.js"></script>
    <script src="/frontEnd/javascripts/plugins/select2.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/waypoints.js"></script>
    <script src="/frontEnd/javascripts/plugins/counterup.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.countdown.min.js"></script>
    <script src="/frontEnd/javascripts/plugins/images-loaded.js"></script>
    <script src="/frontEnd/javascripts/plugins/isotope.js"></script>
    <script src="/frontEnd/javascripts/plugins/scrollup.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.vticker-min.js"></script>
    <script src="/frontEnd/javascripts/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/frontEnd/javascripts/main.js?v=3.4"></script>
</body>
</html>